<div class="site-header">

  <section>
    
    <header>
      <%= link_to image_tag("blue_cookin_logo_75.png", border: 0), root_url %>
    </header>

    <ul>
      <li>
        <a href="#">food</a>
      </li>
      <li>
        <a href="#">wine</a>
      </li>
      <li>
        <a href="#">stuff</a>
      </li>
    </ul>

  </section>

</div>
