@import "mixins";

body {
  
  &.bluecookin {

    > section.page-container {
      
      > section.home {

        > header,
        > footer {
          display: inline-block;
          height: 400px;
          margin: 10px;
          vertical-align: top;
          width: 47%;
        }

        > footer {
          border: 1px solid $border-gray;
          cursor: pointer;

          &:hover {

            > section {

              > header {
                overflow: hidden;

                > img {
                  -ms-transform: scale(1.1);
                  -webkit-transform: scale(1.1);
                  transform: scale(1.1);
                }
              }

              > footer {
                color: $font-link;
              }
            }
          }

          > section {

            > header {
              height: 300px;

              > img {
                height: 300px;
                width: 100%;
              }
            }

            > footer {
              padding: 5px 12px;
              font-size: $larger;
              height: 90px;
              overflow: hidden;
              text-overflow: ellipsis;

              @include font-titles;
            }
          }
        }
      }
    }
  }
}
